{
  "SchemaPath": "./schema.graphql",
  "OutputDirectory": "./Generated",
  "Namespace": "MyApp.Generated",
  "EntryClientName": "ShopifyGraphQlClient",
  "IdClrType": "string",
  "EmitRootTypes": true,
  "EmitScalarAliases": false,
  "EmitJsonSerializerContext": true,
  "JsonSerializerContextName": "MyApiJsonContext",
  "GlobalUsings": [
    "System",
    "System.Collections.Generic"
  ]
}